h1{
    color: rgb(0, 191, 255);
    font-family: Arial, Helvetica, sans-serif;
    text-align:left;
}
h2{
    color: chocolate;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif
}
h5{
    color: coral;
    font-size: 25px;
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
}
p{
    background-color: yellow;
}
.parrafo01{
    color: deeppink;background-color: aquamarine;
}
.parrafo02{
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: blue;
}
li{
    color:black;
    font-family:Arial, Helvetica, sans-serif
    
}
.titulomenu{
    color: black;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
}
.entradas{
    color: darkorange;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
}
.platos{
    color: rebeccapurple;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
}
.bebidas{
    color: green;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
}
.postres{
    color: blue;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
}
ul{
    color: black;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}
.listas > li{
    color: purple;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 16px;
}
dt{
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}
dd{
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}